*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;

}




header{
    background-image: url(header.png);
    color: whitesmoke;
    height: 5em;    
}
body{
    margin:0;
    padding: 0;    
}
.preload{
    width: 100%;
    height: 100%;
    background: rgb(26, 26, 26);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.ml5 {
    font-family: 'Montserrat';
    width: 100%;
    height: 100%;
    position: relative;
    font-weight: 400;
    font-size: 3em;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1.2em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color:white;
    transform-origin: 0.5 0;
  }
  
  .ml5 .hello {

    text-align: center;
    font-weight: 700;
    width: 100%;
    font-size: 1.3em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }
